body#tinymce, body#tinymce button, body#tinymce input, body#tinymce select, body#tinymce textarea {font-family: "rvl";}
body#tinymce {background: #fff;border: none;margin-top: 1.7em;margin-left: 3%;padding-right: 3%;max-width: 620px;}
body#tinymce a {-webkit-box-shadow: inset 0 -1px 0 rgba(255,205,0,1);box-shadow: inset 0 -1px 0 rgba(255,205,0,1);-webkit-transition: color 80ms ease-in,-webkit-box-shadow 130ms ease-in-out;transition: color 80ms ease-in,-webkit-box-shadow 130ms ease-in-out;transition: color 80ms ease-in,box-shadow 130ms ease-in-out;transition: color 80ms ease-in,box-shadow 130ms ease-in-out,-webkit-box-shadow 130ms ease-in-out;}
body#tinymce a:hover, body#tinymce a:focus {-webkit-box-shadow: inset 0 0 0 rgba(255,205,0,0),0 3px 0 rgba(255,205,0,1);box-shadow: inset 0 0 0 rgba(255,205,0,0),0 3px 0 rgba(255,205,0,1);}
body#tinymce .sidenote a {color: #111;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,1);box-shadow: inset 0 -1px 0 rgba(0,0,0,1);}
body#tinymce .sidenote a:focus, body#tinymce .sidenote a:hover {-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0),0 3px 0 rgba(0,0,0,1);box-shadow: inset 0 0 0 rgba(0,0,0,0),0 3px 0 rgba(0,0,0,1);}
body#tinymce h4 {font-size: 1em;letter-spacing: .01em;text-transform: uppercase;}
body#tinymce .highlighted {background: #fbedb5;text-decoration: none;}
body#tinymce > * code {background: rgba(0,0,0,.1);font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size: .9375em;font-style: normal !important;}

img {
    max-width: 25%;
}